*{
    color: white !important;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(5,1,62);
    background: linear-gradient(0deg, rgb(38, 46, 61)  0%, rgba(0,0,0,1) 50%, rgb(4, 1, 50) 100%);
    background-attachment: fixed;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

#tabs{
    display: flex;
    width: 50%;
    max-width: 900px;
    justify-content: space-between;
    position: relative;
}

.tabburger{
    min-height: 50px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    cursor: pointer;
    text-align: center;
    transition: text-shadow 0.2s;
    font-size: 20px;
}

.tab{
    min-height: 50px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    cursor: pointer;
    text-align: center;
    transition: text-shadow 0.2s;
    font-size: 20px;
}

.tab:hover{
    text-shadow: 0px 0px 5px white;
}

.tabIndicator{
    height: 2px;
    background-color: rgb(44, 47, 212);
    position: absolute;
    width: 30%;
    top: 100%;
}

#tab_display{
    width: 80%;
    height: 83vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.carousel{
    height: 50%;
    margin-top: 2vh;
}
.carousel .carousel-item {
    margin-top: 0vh;
    width:35% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo_cv{
    margin-top: 5vh;
    height: 22vh;
    width: 15vw;
    background-size: contain;
    background-image: url(../assets/img/moi.jpg);
    background-repeat: no-repeat;
    background-position: left;
}

.colonnecv{
    width: 25%;
    height: 100%;
    margin: 2px;
    padding: 2px;
}

.cv_name{
    margin-top: 8vh;
    width: 100%;
    text-align: left;
    font-size: 4vh;
    font-weight: 500 !important;
}


.cv_metier{
    width: 100%;
    text-align: left;
    font-size: 3vh;
    font-weight: 400 !important;
}

.cv_lefttitle{
    margin-top: 5vh;
    width: 100%;
    text-align: left;
    font-size: 3vh;
    font-weight: 400 !important;
}

.cv_line{
    margin-top: 1vh;
    width: 70%;
    height: 2px;
    background-color: white;
    margin-bottom: 2vh;
}

.cv_lefttext{

}

.cv_righttitle{
    margin-top: 5vh;
    width: 100%;
    text-align: left;
    font-size: 3vh;
    font-weight: 700 !important;
    margin-bottom: 2vh;
}

.cv_righttitle.first{
    margin-top: 13.5vh;
}

.carouselarrow{
    width: 5vw;
    height:7vh;
    position: absolute;
    margin-top: 20vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.carouselarrow:hover{
    transform: scale(1.1);
}

.carouselarrow.left{
    margin-right: 80vw;
    background-image: url(img/leftarrow);
}
.carouselarrow.right{
    margin-left: 80vw;
    background-image: url(img/rightarrow.png);
}

#projectTitle{
    position: absolute;
    margin-top: 44vh;
    font-size: clamp(16px, 5vh, 10vw);
}

#projectDesc{
    position: absolute;
    margin-top: 51vh;
    font-size: 2vh;
    width: 50%;
    letter-spacing: 3px;
    line-height: 3vh;
    text-align: center;
    display:inline-block;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    padding-bottom: 15vh;
    min-width: 300px;
}

#btnVoirLeSite{
    position: absolute;
    width: 50%;
    background-color: rgb(44, 44, 206);
    text-align: center;
    padding: 1.7vh;
    font-size: 1.5vh;
    max-width: 350px;
    letter-spacing: 5px;
    cursor: pointer;
    transition: 1s;
    transform: translateY(165%);
    min-width: 200px;
}
#btnVoirLeSite:hover{
    letter-spacing: 7px;
}

#cvcontainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) { 
    .carousel{
        display: none;
    }
    .carouselarrow{
        display: none;
    }
    #tabs{
        display: none;
    }
    .sliderResponsive{
        display: flex;
    }
    #cvcontainer{
        flex-direction: column-reverse;
        margin-top: 10vh;
        height: 150%;
    }
    .colonnecv{
        width: 70%;
    }
    #burger{
        display: flex;
    }
    .photo_cv{
        display: none;
    }
}

@media (min-width: 900px) { 
    .sliderResponsive{
        display: none;
    }
    #burger{
        display: none;
    }
}

.sliderResponsive{
    position: absolute;
    width: 100vw;
    height: 30vh;
    margin-top: 5vh;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}.sliderResponsive::-webkit-scrollbar { width: 0 !important }


.sliderResponsive-item{
    align-items: center;
    color: white;
    flex: 0 0 320px;
    font-size: 40px;
    justify-content: center;
    scroll-snap-align: start;
    margin-left: 25px;
    margin-right: 25px;
}

.imgSlide{
    object-fit:contain;
    width: 100%;
    height: 100%;
}

#burger{
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/burger.png);
}

#burgermenu{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
    z-index: 999;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}