*{
    color: white !important;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(5,1,62);
    background: linear-gradient(0deg, rgb(38, 46, 61)  0%, rgba(0,0,0,1) 50%, rgb(4, 1, 50) 100%);
    background-attachment: fixed;
}

#tabs{
    display: flex;
    width: 50%;
    max-width: 900px;
    justify-content: space-between;
    position: relative;
}

.tab{
    min-height: 50px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    cursor: pointer;
    text-align: center;
    transition: text-shadow 0.2s;
    font-size: 20px;
}

.tab:hover{
    text-shadow: 0px 0px 5px white;
}

.tabIndicator{
    height: 2px;
    background-color: rgb(44, 47, 212);
    position: absolute;
    width: 30%;
    top: 100%;
}

#tab_display{
    width: 80%;
    height: 83vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.carousel{
    height: 50%;
    margin-top: 5vh;
}
.carousel .carousel-item {
    margin-top: 0vh;
    width:35% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo_cv{
    margin-top: 5vh;
    height: 22vh;
    width: 15vw;
    background-size: contain;
    background-image: url(../assets/img/moi.jpg);
    background-repeat: no-repeat;
    background-position: left;
}

.colonnecv{
    width: 25%;
    height: 100%;
    margin: 2px;
    padding: 2px;
}

.cv_name{
    margin-top: 8vh;
    width: 100%;
    text-align: left;
    font-size: 4vh;
    font-weight: 500 !important;
}


.cv_metier{
    width: 100%;
    text-align: left;
    font-size: 3vh;
    font-weight: 400 !important;
}

.cv_lefttitle{
    margin-top: 5vh;
    width: 100%;
    text-align: left;
    font-size: 3vh;
    font-weight: 400 !important;
}

.cv_line{
    margin-top: 1vh;
    width: 70%;
    height: 2px;
    background-color: white;
    margin-bottom: 2vh;
}

.cv_lefttext{

}

.cv_righttitle{
    margin-top: 5vh;
    width: 100%;
    text-align: left;
    font-size: 3vh;
    font-weight: 700 !important;
    margin-bottom: 2vh;
}

.cv_righttitle.first{
    margin-top: 13.5vh;
}

.carouselarrow{
    width: 5vw;
    height:7vh;
    position: absolute;
    margin-top: 23vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.carouselarrow:hover{
    transform: scale(1.1);
}

.carouselarrow.left{
    margin-right: 80vw;
    background-image: url(img/leftarrow);
}
.carouselarrow.right{
    margin-left: 80vw;
    background-image: url(img/rightarrow.png);
}

#projectTitle{
    position: absolute;
    margin-top: 50vh;
}

#projectDesc{
    position: absolute;
    margin-top: 60vh;
    font-size: 2vh;
}